h1 {
 text-align: center;
 font-size: 30px;
 color: gold;
}

#Square {
 display: flex;
 justify-content: center;
 text-align: center;
 align-items: center;
 font-size: 30px;
 height:80px;
 width: 80px;
 border: 5px solid grey;
}

#Board {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 text-align: center;
 align-items: center;
 border: 10px solid grey;
 height: 300px;
 width: 300px;
 margin: auto;
}

#button {
 text-align: center;
 justify-content: center;
 color: gold;
 align: center;
 margin: auto;
 align-items: center;
}
